[2022-09-29 17:42] boks1971 commented on #970
Thank you for trying it out. `opus/red` is more of an envelope and in theory should just package up the underlying codec payload with redundancy. But, it is new and maybe it has some issues. Will dig further.

[2022-09-29 17:47] boks1971 commented on #970
Wow, interesting @bekriebel . Does that work in `master` also? Or do you need the change in my branch for it to work? I am guessing it should work in `master`?

[2022-09-29 17:55] bekriebel commented on #970
Yep, I was just about to add that update. I went back to master and checked. It also works there as long as the receiving end is Firefox. I don't think it is working if the sending side is Firefox, but I need to set up a better test because I can't do shared screens with audio from Firefox.

[2022-09-29 18:03] boks1971 commented on #970
Thank you @bekriebel . Good to know it is an `opus/red` issue. Have to dig into why it is not working with that.

[2022-09-29 18:40] bekriebel commented on #970
At least I'm assuming it is an `opus/red` related issue. I just confirmed, Stereo tracks work from Chrome -> Firefox and Firefox -> Firefox, but not Firefox -> Chrome.

[2022-09-29 19:03] bekriebel commented on #970
Yeah. The issue may just be that Chrome isn't receiving stereo.

If I set
[code]
 on the server, should that disable `opus/red`? If so, it isn't a `red` issue. I just tested that, and I get the same results.

[2022-09-29 19:59] CaosFR opened #1060 "Error "Could not connect PeerConnection after timeout""
Hi,

Since last update I got a error for every client outside my LAN who try to connect to a room a/v of my livekit server (self-host) : "Could not connect PeerConnection after timeout". If I try inside my LAN it's ok (192.168.x.x).
I have try to disable, my UFW, my fail2ban and the firewall of my Internet Box, activate the DMZ. I have make a new fresh install of livekit. I have other service (htt

[2022-10-01 06:18] duiniuluantanqin commented on #1060
the error  is the same as mine. it is happened at about 12:00 noon yesterday.Have you solved it?

[2022-10-01 06:32] davidzhao commented on #1060
I believe this is a compatibility issue that we've introduced in 1.2.3. We'll release a new update that reverts this change in the next version. Apologies for the breakage.

[2022-10-01 06:41] duiniuluantanqin commented on #1060
But I didn't update it, and it works well before yesterday, with version 1.2.1 .

[2022-10-01 07:14] CaosFR commented on #1060
@duiniuluantanqin No it's not solve, I work on my issue few hours. I have competely remove all protection but without succes.
@davidzhao Thanks, I will waiting and test again.

[2022-10-01 07:47] CaosFR commented on #1060
@duiniuluantanqin No it's not solve, I work on my issue few hours. I have competely remove all protection but without succes.
@davidzhao Thanks, I will waiting and test again but I have downgrade to 1.21 and it's not solve.

[2022-10-01 08:21] CaosFR commented on #1060
@davidzhao Thanks, I will waiting and test again. I have test with the v1.2.1 but I get the same error. I have downgrade my traefik to v2.8.5 beceause the latest version seem breakage livekit.

My config :

$ docker images
[...]
traefik                        v2.8.5    xxxxxd3432ab   2 weeks ago    106MB
livekit/livekit-server         v1.2.1    xxx2f80af7a8   2 weeks ago    37.8MB
[...]
When you w

[2022-10-01 10:34] laskdjlaskdj12 commented on #1057
I've got same error in livekit-server 1.2.1

and My envirorment is go1.19.1

[2022-10-01 10:57] duiniuluantanqin commented on #1060
@CaosFR Thanks for your answer. but i am not use `traefik`

[2022-10-01 10:57] duiniuluantanqin commented on #1060
@CaosFR Thanks for your answer. but i am not use `traefik`

[2022-10-01 11:59] cnderrauber commented on #1060
@CaosFR  @duiniuluantanqin can you try this branch (https://github.com/livekit/livekit/pull/1062) for the fix ?  it should fix your problem with the udp mux issue

[2022-10-01 22:32] CaosFR commented on #1060
@cnderrauber Thanks for your help, I will try next week and reply here

[2022-10-02 03:24] duiniuluantanqin commented on #1060
Will `livekit-server` upgrade automatically ? today, it works well with do nothing, just like error occured. it`s amaing.

[2022-10-02 05:24] cnderrauber commented on #1060
No, livekit-server will not upgrade itself, and #1062 is not merged yet.

[2022-10-02 17:49] davidzhao commented on #1057
Please provide detailed repro steps. If you are using livekit as a module within a 1.18+ project, that's not officially supported.

Our CI is building with 1.19.1 and it does not indicate any errors. Same as 1.18.6 below.

[code]

[2022-10-04 19:44] http600 commented on #1057
[code]

[2022-10-05 06:52] prasadkris opened #1070 "Intermittent timeout errors"
Greetings! 👋  we have got a script to monitor our livekit deployment which leverages the `livekit-cli` and it works in such a way that it periodically connects and create a room in our livekit cluster (v1.2.1, running on gke) and then join the room and publish a tiny audio (ogg) file as follows :

[code]

This works fine most of the time, but publishing the audio file fails sometimes  with `could

[2022-10-05 07:25] davidzhao commented on #1057
@http600 are you using livekit/server-sdk-go and is unable to compile your app that use our SDK?

If that's the case, do you use `gammazero/deque` or `gammazero/workerpool` directly as well?

[2022-10-05 09:22] http600 commented on #1057
Thank you, I should have make it explicitly, I have imported `livekit/server-sdk-go`, `livekit-server` is imported indirectly,

Yes

Neither, but `github.com/gammazero/deque` is imported indirectly

[code]
The full modules
[code]

[2022-10-05 21:18] bekriebel commented on #970
@boks1971 and @cnderrauber, I've done in a lot deep to this issue. As @mmckegg pointed out in https://github.com/livekit/client-sdk-js/pull/450, SDP modification is actually needed. It seems that this is true because Chrome doesn't set `stereo=1` in the SDP answer when running `createAnswer()`. It seems to pull this from the default codec settings, seen by running `RTCRtpSender.getCapabilities("au

[2022-10-05 22:25] davidzhao commented on #1057
@http600 could you try to use [this branch](https://github.com/livekit/server-sdk-go/tree/1.17-compat) of the Go SDK?  i.e.

[code]
I restored Go 1.17 compatibility. If this works, I'll merge it and release a new version

[2022-10-05 22:48] davidzhao commented on #970
reopening so we could take another look. if there isn't a way to accomplish this on the server side, then we can pursue the client path.

[2022-10-06 04:35] http600 commented on #1057
Thank you. Yes, I can. It compiles, here is the log what I did

[code]

[2022-10-06 04:54] davidzhao commented on #1057
thank you for confirming. v1.0.1 is tagged with this fix merged.

[2022-10-06 04:54] #1057 closed

[2022-10-06 08:32] prasadkris commented on #1070
Thanks a lot @davidzhao I did see `sending offer` messages when it is working fine (ref: [logs](https://gist.github.com/prasadkris/2aaa6e8d02b210268ceb39c6e70cafaa)), but it is not there when it fails with the timeout messages.

I will redeploy with `development: true` and share the dump when this happens next time, thanks! 🙏

[2022-10-07 04:55] prasadkris commented on #1070
Hey @davidzhao The `debug/goroutine` dumps taken at the time of failure is available at :

[coredump2.log](https://gist.github.com/prasadkris/e0cef72ca6fa6dcd6e15aa037df54c9d)
[coredump1.log](https://gist.github.com/prasadkris/e798c58190464ee215900393c3e37de8)
[coredump3.log](https://gist.github.com/prasadkris/250e6af3064f0e5fdb1cfbd645d05ca9)

and the dump taken when it is working fine is availab

[2022-10-07 07:16] davidzhao commented on #1070
thank you for providing the logs. that's helpful.

I believe this issue had already been resolved in 1.2.3. The issue was due to certain users on slower TCP connections causing a lock. Underlying fix was in [this PR](https://github.com/pion/ice/pull/474)

Could you give it a try and see if that resolves the issue for you?

[2022-10-07 14:16] acgacgacgacg opened #1074 "Error on iOS device: Illegal to set field id (2) of livekit.DataChannelInfo to value (-1): out of range for unsigned 32-bit int"
**Describe the bug**
On iOS device, the crashlytics reported the following error
[code]

**Server**
- Version: 1.2.0
- Environment: k8ts

**Client**
- SDK: flutter
- Version: 1.1.0
iPhone 12 iOS 15.6.1
iPhone 12 Mini iOS 15.6.0

**Error log**
[code]

Any idea why this is happening

[2022-10-07 22:52] afgarcia86 commented on #122
@davidzhao this was really helpful for a proof of concept I am working on. Do you have any idea what would cause the latency? I am seeing several seconds of lag between the RTPS feed and the app. Also while the video streams well in the web client when I use the Swift SDK I just get a red box where I would typically see my webcam feed.

<img width="306" alt="image" src="https://user-images.githubu

[2022-10-08 09:22] CaosFR commented on #1060
@cnderrauber I try to use your tree but I dont find any repository for my docker-compose.yaml

`image: livekit/livekit-server:v1.2.1`

How can I install your version as a `docker images` ? May I find a ".tar" file somewhere ?

[2022-10-09 01:45] afgarcia86 commented on #122
Ok figured out that the the simulator doesn't support h264 which is why it shows up as a red box. I noticed the lag is not present with the gstreamer example:

[code]

[2022-10-09 09:02] cnderrauber commented on #1060
@CaosFR This is not released yet so there is no docker image provided.. I have created a new PR for pion/ice https://github.com/pion/ice/pull/483 that should fix your issue cause by latest change, you can try again after it is released

[2022-10-10 02:11] prasadkris commented on #1070
Hey @davidzhao there were a couple of failures in the weekend and the logs are available at - [logs1](https://gist.github.com/prasadkris/b4336bb4485c6d851c029a331821d904), [logs2](https://gist.github.com/prasadkris/6fda1574cc675aaea56ce43ecf51480c), [logs3](https://gist.github.com/prasadkris/e6512a6e44f15f86e11325b1650a49a0), just in case if this helps to investigate further, thank you! 🙂

[2022-10-10 04:33] davidzhao commented on #1070
@prasadkris Looking at the logs further. It doesn't appear that the upgrade to v1.2.3 took place. Specifically, your logs indicate it's using `v2.2.7` of `pion/ice`. `v1.2.3` ships with `pion/ice v2.2.9`.

Could you reattempt the upgrade?

[code]

[2022-10-10 05:11] prasadkris commented on #1070
Thanks @davidzhao strange, the update was performed using the latest helm chart and I do see that the livekit-server deployment is using `v1.2.3` image 😕 I will reattempt the upgrade and let you know! thanks again 🙏

[code]

[2022-10-10 05:53] prasadkris commented on #1070
Hello @davidzhao, I attempted an upgrade again and I could see that the the `pion/ice` is now at  `v2.2.9`. 👍

[code]

Hopefully this helps to fix the problem,  I will observe for a couple of days and let you know the status, thanks a lot for your help and cooperation! 🙏

[2022-10-10 07:19] duiniuluantanqin opened #1078 "crash with 'panic: runtime error: invalid memory address or nil pointer dereference'"
**Describe the bug**
crash with 'panic: runtime error: invalid memory address or nil pointer dereference', when click `share screen` more than once.

**Server**
- Version: [1.2.1]
- Environment: [docker on centos 7]

**Client**
- SDK: [react]
- Version: [1.3.2]

**To Reproduce**
Steps to reproduce the behavior:
1. one client is connected to room
2. click `share screen` , then click `stop share`
3.

[2022-10-10 20:20] bekriebel commented on #970
Anything I can do to help with this? I'm pretty confident that this will require the client-side change due to chromium limitations, but I'm happy to help test if someone has other server-side ideas. I can also make modifications to mmckeg's patch if that isn't implemented in a way that the team is comfortable with.

[2022-10-10 21:24] mmckegg commented on #970
Just for reference, I've currently solved this issue in my own project by applying this nasty patch to the room whenever created:

https://gist.github.com/mmckegg/df597f95fa7b608fb2b232557ad1522f

All it does is add `stereo=1` to the subscriber when it sets the local description. Was the most unobtrusive way I could find for a temporary fix. Works like a charm in Chrome.

[2022-10-11 02:16] bdrtc commented on #970
yes, you must munging sdp to get stero audio, [there is a issue discussion this](https://github.com/w3c/webrtc-extensions/issues/63)

[2022-10-11 03:09] cnderrauber commented on #970
@bekriebel @mmckegg I have tested screen share with a youtube stereo video (https://www.youtube.com/watch?v=6TWJaFD6R2s) and combine various conditions (with/without client patch / redcodec ), the receiver side still get a mono audio (use a stereo playback device), so the result confuse. Can you describe the steps that makes stereo work for you? If the publisher offer side munged sdp is required,

[2022-10-11 03:59] cnderrauber commented on #970
@mmckegg @bekriebel Verified subscriber side munged sdp is required for chrome receive & playback stereo, it is not comply the spec, while ff works well without it. We need the client patch to fix it. Thank you!!

[2022-10-12 10:19] NOT-HAL9000 commented on #1035
This is exactly what I'm looking to do right now in a react native app. [Jitsi has a recent blog](https://jitsi.org/blog/a-stepping-stone-towards-end-to-end-encryption-on-mobile/) about their journey to e2ee with react native and how their flexible client api's works here. FYI, I'm planning on using Matrix's [vodozemac](https://github.com/matrix-org/vodozemac) olm rust implementation, which is wha

[2022-10-13 04:46] #1078 closed

[2022-10-13 06:22] davidzhao commented on #1035
We are currently working on this! It's one of the highest priority features for the team. There isn't a release date yet.

[2022-10-13 06:49] duiniuluantanqin commented on #1078
wow, this is so efficiently. I've tested it and it works well. thank you.

[2022-10-13 07:29] cnderrauber commented on #1060
Fixed by #1081

[2022-10-13 07:43] anupriya17 opened #1083 "WHIP Support"
Is WHIP going to be supported in near future in LiveKit?

https://www.ietf.org/archive/id/draft-ietf-wish-whip-03.html

[2022-10-13 08:54] NOT-HAL9000 commented on #1035
@davidzhao Thank you so much! Looking forward to it. The developer experience with Livekit is good enough that I will wait for e2ee support

[2022-10-13 20:54] davidzhao commented on #1035
Max from the community has a fork of the JS SDK that implements E2EE: https://github.com/invisv-privacy/client-sdk-js/

[2022-10-13 21:05] davidzhao opened #1085 "Do not respond with 200 OK if path doesn't match"
Currently the server responds with 200 OK by default regardless if that path is found or not.

The correct behavior is to return 200 for `/`, but 404 for other unhandled paths.

[2022-10-14 06:06] davidzhao commented on #1083
WHIP is on our radar. I'm curious what is your use case with it. Is there an app that you are trying to ingest from that supports WHIP?

[2022-10-14 06:21] osmanhomek commented on #1083
To date, the open source [Meedoze](https://github.com/medooze/media-server) WebRTC Media Server, [Janus](https://janus.conf.meetecho.com/) WebRTC Server and [Millicast](https://millicast.com/]) WebRTC PaaS have implemented WHIP. If you are interested in more technical details about the [Medooze implementation](https://medium.com/@medooze/86772eba8ae7), or the [Janus implementation](https://github.

[2022-10-14 06:49] davidzhao commented on #1083
WHIP is a good move for the industry, and we do plan to support it.

My question is trying to understand the use cases that you are trying to achieve today, and how critical is WHIP to those use cases.

[2022-10-14 07:10] davidzhao commented on #1083
That's good to know. Which sources are you ingesting from?

[2022-10-15 05:11] shentianyu93 opened #1087 "When stopEgress, report "pipeline frozen""
Describe the Issue
When I use stopEgress api, report "pipeline frozen"

Detail log:

2022-10-15T04:24:03.399356008Z {"level":"debug","ts":1665807843.3717582,"logger":"egress","caller":"service/handler.go:80","msg":"handling request","nodeID":"NE_kPvongLFqpfC","egressID":"EG_geSxWWZeJksf","requestID":"RPC_jcUadiSuK4wk"}
2022-10-15T04:24:03.399449155Z {"level":"info","ts":1665807843.3959792,"logger"

[2022-10-16 17:30] #1085 closed

[2022-10-18 00:37] bmbferreira opened #1098 "Livekit server can't start because of "invalid" TURN configurations"
**Describe the bug**
Because of the config validation introduced on [this PR](https://github.com/livekit/livekit/pull/1051) the livekit server now can't start on the latest version because of TURN configurations that are set on the helm chart (such as the loadBalancer annotations). It stays in crashloopbackoff with the following logs:
[code]

And this is what I'm setting on the helm chart values:

[2022-10-18 00:43] bmbferreira commented on #1098
One more thing is that the main problem might be here on the helm chart: https://github.com/livekit/livekit-helm/blob/master/livekit-server/templates/configmap.yaml#L7

It is setting on the configmap all the values "blindly", including the ones that the server won't be able to parse as a config (in my case `loadBalancerAnnotations` and `secretName` but maybe there's other configs that will also tr

[2022-10-18 06:33] prasus commented on #1070
hey @davidzhao the cluster works fine after the upgrade and there are no timeout errors so far, thanks again for all your help! 🙏🏿

[2022-10-19 07:26] davidzhao commented on #1070
@prasus thank you for confirming this!

closing the issue.

[2022-10-19 07:26] #1070 closed

[2022-10-19 07:29] davidzhao commented on #1098
ugh.. you are right this is a problem. I think in the near term, we can introduce a mode where it bypasses strict mode. I'll take a look at this tomorrow.

[2022-10-19 07:35] bmbferreira commented on #1098
Thanks @davidzhao! yup, that could be a solution. Keeping the logs in non-strict mode would be helpful anyways 🤷‍♂️

Another solution could be on the helm chart avoid passing "invalid" configurations to the configmap (in this case `loadBalancerAnnotations` and `secretName`) It would get more verbose though...

[2022-10-19 20:26] trey-hakanson-skydio opened #1103 "Log level ignored in LiveKit config"
**Describe the bug**
Setting logging level in config does not have the desired behavior; the default level of info is not overriden.

**Server**
- Version: [1.2.3]
- Environment: [EKS]

**Client**
N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Include the following in the LiveKit server's configuration:
[code]
2. Restart LiveKit
3. Verify config is loaded, in my case with:
[code]
4. Obs

[2022-10-19 21:08] davidzhao commented on #1103
Log level should actually be `warn` instead of `warning`. Sorry I see that the config file is indicating this incorrectly. I'll update.

[2022-10-19 21:14] #1103 closed

[2022-10-19 21:32] trey-hakanson-skydio commented on #1103
Thanks for the quick reply; `warn` is working!

[2022-10-20 16:25] imredobos opened #1109 "Room does not get deleted after empty timeout"
**Describe the bug**
I can see lots of rooms on my server to which I have not joined, and these rooms have not been deleted after the default empty timeout - custom has not been provided.

**Server**
- Version: [1.2.4] (and before)
- Environment: [local dev, EKS]
- multiregion setup

**To Reproduce**
Steps to reproduce the behavior:
1. create a room through the API
2. do not join to the room
3. wa

[2022-10-20 18:54] davidzhao commented on #1098
This was fixed in #1105 and released in v1.2.5. Give it a shot and let me know how this works for you!.

[2022-10-20 18:54] #1098 closed

[2022-10-21 12:59] bmbferreira commented on #1098
thank you @davidzhao 🙇

[2022-10-21 13:51] jibon57 commented on #1109
At present room will be treated as active after a user will join. So, if you create a room & don't join then it will remain in redis/storage. As a work around you can run scheduler to close old rooms.

[2022-10-21 18:48] imredobos commented on #1109
@jibon57 If you are right then the documentation (https://docs.livekit.io/guides/server-api/#createroom) which says **number of seconds to keep the room open if no one joins** seems to be wrong, as well as the code here: https://github.com/livekit/livekit/blob/master/pkg/rtc/room.go#L529, it says it will close room after 20 sec if there were any participant and the last one has left the room, anyw

[2022-10-21 19:04] imredobos opened #1111 "Advertise both private and public IP as well"
Livekit should advertise both private and public IP as well to have the opportunity to leverage network enhancements with the private IP and have the most of the connectivity with the public IP

[2022-10-22 09:58] CaosFR commented on #1060
I'm sorry it's not working. The problem still the same after update.

[2022-10-22 09:59] CaosFR opened #1113 "Error "Could not connect PeerConnection after timeout""
Hi,

I'm reopen this bug, after try your update the problem still the same in all point. https://github.com/livekit/livekit/issues/1060
I have to go back to v1.2.1 and it's working but I can update traefik this time (no bug with latest traefik now).

Thanks

[2022-10-22 17:27] davidzhao commented on #1113
closing the duplicate, please use the same issue to track.

[2022-10-22 17:27] #1113 closed

[2022-10-22 17:30] davidzhao commented on #1060
you are not using automatic IP mapping with `use_external_ip: false`

if that's the case, what is --node-ip being set to? Can you share the ICE candidates while trying to connect to the server? It could be found by going to chrome://webrtc-internals and looking for `remote candidates`

[2022-10-22 18:53] mafamac opened #1114 "client gets disconnected due timeout"
**Describe the bug**
When the client tries to connect to the server gets a timeout as following
[code]

I type on the browser livekit.<domain> and I get an OK output. for livekit-turn i get a timeout.

I have both domains running on 443 using letsencrypt to provide the certificates

**Server**
- Version: v1.2.5
- Environment: oracle cloud, using docker livekit-server image
- Running nginx as proxy

[2022-10-22 18:59] davidzhao commented on #1114
this is likely a configuration issue with firewall + oracle cloud.

That said, we are not able to support custom installation steps as there are too many variables with the deployment process. Please refer to the troubleshooting section [here](https://docs.livekit.io/deploy/vm/) for what to look for.

[2022-10-22 18:59] #1114 closed

[2022-10-23 09:57] CaosFR commented on #1060
Thanks for your help. Can you explain me what do you want with chrome://webrtc-internals ? It's for me ou for my client s?
 --node-ip is set to my local IP (192.168.X.X). I dont have a public DNS so they are a NAT forwarding from public IP. The etc/hosts are configure to match the IP with traefik url.

I have made come test :

`-node-ip PUBLIC_IP` and `use_external_ip: true` => Livekit work outsid

[2022-10-23 13:10] cnderrauber commented on #1060
@CaosFR you can expand the `ICE candidate grid` in webrtc-internals, it will show you all the local and remote candidates connections. Also, in the event section, you can see the addIceCandidates event, expand it will see the details for that.
Can you get both informations from clients connect to v1.2.1 and latest, and we will see the different cause issue

[2022-10-25 20:40] davidzhao opened #1123 "Enable room codecs override in CreateRoom"
We should allow control of supported codecs during creation of each room.

[2022-10-26 03:18] cnderrauber commented on #1060
Have setup a AWS/EC2 env, with latest docker image and you docker-compose.yml/livekit.yaml, it works well for internet connect with `node-ip PRIVATE_IP` and `use_external_ip: false`. The selected candidate is srflx and prflx, that is expected as both client/server is under NAT. Wait for your information to verify the issue.

[2022-10-26 09:05] CaosFR commented on #1060
@cnderrauber Thanks for your help. I'm away from my server for a couples of days. I'm will try your instructions soon I back :) .

[2022-10-27 12:13] blombosi opened #1130 "Livekit sends ParticipantLeft webhook event without ParticipantJoined webhook event if RTC connection wasn't successfull"
**Describe the bug**
If there was some error in the RTCConnection and the participant couldn't join to the session livekit still sends ParticipantLeft but didn't send ParticipantJoined webhook event.

I tried to debug the issue and found these:
https://github.com/livekit/livekit/blob/1019faa0e691955f0db4f56a96d3e9ad2bf64f24/pkg/rtc/room.go#L264
ParticipantJoined webhook event will be sent only if

[2022-10-28 07:54] 635613589 opened #1131 "one stops screenshare then next person`s videoTrack gone before that one starts to speak"
here is my phone record

https://user-images.githubusercontent.com/63730157/198534470-c100f774-d818-4ac1-b9fe-f75f275d9a17.mp4

[2022-10-28 08:05] 635613589 commented on #1131
turns out my videoTrack became undefined when another one stops screenshare

[2022-10-28 11:13] jibon57 commented on #1130
I'm experiencing same issue too. This typically occurs when a user has a poor connection. When a person joins plugNmeet, we increase the count, and when they leave, we decrease it, but because of this issue, the total number count turned negative sometime :-D

[2022-10-28 16:32] davidzhao commented on #1131
insufficient information provided

[2022-10-28 16:32] #1131 closed

[2022-10-29 04:59] davidzhao commented on #1130
Good point.. if it hasn't successfully joined, it makes sense that it shouldn't send a LEAVE event either.

[2022-10-30 14:46] amirmojarad opened #1134 "livekit is customizable? for example it using websocket for sdp changing, is it possible to change it to mqtt?"

[2022-11-01 18:14] #1134 closed

[2022-11-02 10:35] #970 closed

[2022-11-03 12:20] nkonev opened #1143 "Interrupts and reconnects with Firefox participants"
**Describe the bug**
There are interrupts and reconnects when one of participants uses Firefox. If all of them use Chrome - all is ok.

**Server**
- Version: Centos Linux 7
- Environment: docker-swarm its config https://github.com/nkonev/videochat/blob/f6e163d06b5ecded6e5e2f923b621e941cb34e2f/deploy/docker-compose-infra.template.yml#L79
- livekit/livekit-server:v1.2.4 its config https://github.com

[2022-11-03 22:53] llspalex commented on #1083
WHIP has made it's way into [OBS](https://github.com/obsproject/obs-studio/pull/7192) (albeit not an official release, yet). Would be really awesome to stream from OBS to LiveKit using WHIP.

[2022-11-04 20:02] nkonev commented on #1143
Closed because disabling ICE lite helped. (It was occasionally enabled in my configs, but it is already disabled [by default](https://github.com/livekit/livekit/pull/784))

[2022-11-04 20:02] #1143 closed

[2022-11-06 06:31] helderjbe opened #1146 "Question: Best way to save Data messages in DB"
I'm looking to implement a chat system that saves users' messages. To do this using LiveKit rooms, I'm using data messages (https://docs.livekit.io/client/data-messages/). However, I need to intercept these messages so that it's possible to save and moderate them.

Consider the following server instances (in the same region):
- LiveKit image
- REST API server
- CDN (client files)

Currently, this

[2022-11-06 22:15] davidzhao commented on #1143
thanks for the thorough report @nkonev!

we haven't had issues with Firefox and ICELite in our server environment. I'm wondering if there are other differences in the setup. LiveKit supports aggressive renomination as well.

[2022-11-07 00:20] davidzhao commented on #1146
hey @helderjbe, is there a reason why you'd need to call `getParticipant` each time? Since you are calling your custom API server, is there a scenario that it's called when the participant is currently not in the room? I think skipping that step would greatly simplify this use case. I see two paths:

- save and use data messages from client:
  1. send request to your server to persist message
  2.

[2022-11-07 06:23] helderjbe commented on #1146
In my case I can't really trust the clients using the app, so the getParticipant part is to actually check if the user sending the message is in the room. Otherwise, some malicious user could simply use Postman (or simply curl) to make the request to my API server with chatId and userId and they could broadcast their messages to any room.

Using the same reasoning above, couldn't a malicious user

[2022-11-07 06:45] davidzhao commented on #1146
I think it's probably better to pursue a mode of authentication so that you can "trust" the request sent by the client. If they can simulate the API call, it wouldn't be too complicated to simulate entering the room and publishing a message the same way.

one idea is to use JWT tokens, similar to livekit itself.

[2022-11-07 07:02] helderjbe commented on #1146
It will be a bit hard as in my use case users can register at will, but that's a good idea I can elaborate on. I will try and cook something up from that. Thank you!

Also, I just wanted to say that I love LiveKit, it's life-changing for a developer like myself. Wish you all the best!

[2022-11-07 07:02] #1146 closed

[2022-11-07 14:10] eIskandarov commented on #1060
Hi guys,

we actually have a similar issues in one of our networks.
The fastest way to reproduce that there is just to:

1. Go to https://livekit.io/playground
2. Create a room and run the session
3. Join the same room from the other browser tab

**Result:**

Participants connect to the room, but can't see each other.
After a while both of them disconnect due to an error `could not createOffer wit

[2022-11-07 15:11] nkonev commented on #1143
So my configs are there
- Environment: docker-swarm its config https://github.com/nkonev/videochat/blob/f6e163d06b5ecded6e5e2f923b621e941cb34e2f/deploy/docker-compose-infra.template.yml#L79
- livekit/livekit-server:v1.2.4 its config https://github.com/nkonev/videochat/blob/f6e163d06b5ecded6e5e2f923b621e941cb34e2f/deploy/livekit/livekit.yaml

Issues and reconnects are not appear immediately, we nee

[2022-11-07 21:24] davidzhao commented on #1000
@eva005, how is the latest version working for you?

[2022-11-09 09:05] necrodome commented on #1083
Gstreamer now supports [WHIP](https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs/-/merge_requests/835), which makes ingesting any kind of source very easy using the Gstreamer pipeline. My use case is ingesting camera feeds (mostly with RTSP) into a room.

[2022-11-09 17:40] davidzhao commented on #1083
We are looking into WHIP support now as part of our upcoming Ingress component. Will update here when we have news to share :)

[2022-11-10 07:16] derubanov opened #1156 "Problem with connecting to LiveKit"
Some providers  including in China or on the mobile Internet, do not connect to the LiveKit for some reason. The onConnected event fails in this case.

While using a VPN helps to connect within the current network.

livekit-server: v1.2.1 or v1.3.0
livekit-client: 0.18.6
livekit-react: 0.9.2

[2022-11-10 07:35] #241 closed

[2022-11-10 07:35] #1109 closed

[2022-11-10 07:46] jibon57 commented on #1156
If you're accessing from Mainland China & your server is hosted outside of China then this scenario is very common because China firewall. Make sure that the server where livekit is hosted isn't blacklisted in China firewall. Also internet in China is very unstable specially when you're accessing servers outside of China. Not sure if there is any way to detect such scenario in livekit.

[2022-11-11 07:45] derubanov commented on #1156
Thank you for reply, but we meeet the same issue in Russia and some other countries. Please support in this case.

[2022-11-11 11:06] nerthazrim opened #1160 "Livekit over version 1.2.3 and public IP on loopback interface - Connection timeout"
**Describe the bug**
When a VM has its public IP on the loopback interface, the socket opening on UDP dynamic ports (50000-60000) seems to listen only the non-loopback interfaces.
After version 1.2.3, even with DNAT for the 50000-60000 udp range, clients are getting a connection timeout.
Version 1.2.3 works fine.

**Server**
- Version: [1.2.3]
- Environment: [Proxmox VM running on Debian 11]
- pub

[2022-11-11 11:10] nerthazrim commented on #1160
Version 1.2.3 on https://livekit.io/connection-test :
![image](https://user-images.githubusercontent.com/8452948/201328231-29b6df6b-6d85-497a-beee-d545aa6c484d.png)

Version 1.3.1 on https://livekit.io/connection-test :
![image](https://user-images.githubusercontent.com/8452948/201328458-09a22ab8-ad44-481f-baf8-ba3917514535.png)

Everything else remains the same on my configuration

[2022-11-11 11:20] cnderrauber commented on #1160
can you post your network config and livekit-server config file?

[2022-11-11 14:49] cdeshapriya opened #1161 "Livekit Kubernetes deployment model, has some strange operational limitations and security concerns."
**How to make Livekit a first class citizen in Kubernetes**

I am sure you have already written your name in gold letters in the history of communication by developing Livekit as an open source solution, which will be the next destructive solution in the communication industry. But we still have one major issue to address, as WebRTC is not yet a first-class citizen in Kubernetes.

The recommended

[2022-11-11 15:25] phikhanhcr opened #1162 "Livekit can't play in Safari (mobile)"
**Livekit can't play in Safari (mobile)**
First, I would like to thank you guys for taking time review my issue:

**Client**
- Version: 1.2.10
My website runs well when using laptop or pc.
But I can't hear anything when using version on mobile web (safari) but I think I still receive the voice event coming.

Thank you for your time!

[2022-11-11 15:56] nerthazrim commented on #1160
Sure!

Here is the network configuration:
[code]

And the livekit-server config file :

[code]

[2022-11-11 15:59] nerthazrim commented on #1160
Oh and the iptables rules:

[code]

[code]

[2022-11-11 23:53] davidzhao commented on #1161
Kudos on your OSS work and sharing it. I believe someone from your team is already in the community discussing this.

We'd welcome you to keep developing it. However, this doesn't quite fit as an issue here; it feels too much like a blatant promotion for your product.

Moreover, It's already possible to not use host networking mode with LiveKit today via UDP single port. However, it comes with som

[2022-11-11 23:53] #1161 closed

[2022-11-12 04:50] EbiPenMan commented on #1049
Hi @davidzhao
Do you have any new information about the Native Unity project?

[2022-11-14 01:51] cnderrauber commented on #1160
@nerthazrim  You have not enabled the `use_external_ip` and `udp_port(udp mux)`, so the local candidate collected by server should be `10.10.1.80`. And you mentioned that the public ip  bind on the loopback interface, does that mean `10.10.1.80` is not reachable by the client? In this case, you can enable the `use_external_ip` in the config, and try again.

[2022-11-14 13:54] cnderrauber commented on #1060
@eIskandarov Your case is different with this, the playground is using cloud env, from the logs you posted, your client has connected but disconnect after few seconds, maybe caused by poor connection quality to the cloud server. Can you switch to another network connection and try again?
[code]

[2022-11-15 18:50] nerthazrim commented on #1160
Hi @cnderrauber, thanks for your time and help!

Unfortunately, I've already tested this option and it does not change anything. Same symptoms.

When I run `netstat -nlp` after a client tries to connect, I get this: `10.10.1.80:59824`
The WebRTC socket is still opened on the private IP and not the public one (on the loopback interface).

And yes, 10.10.1.80 is not reachable from the Internet. Only

[2022-11-15 23:34] berrfott opened #1170 "WebRTC connection lost if public IP is changed"
I use NGINX for port 7880, and a DNS A record points to my public IP-address. My ISP changed my IP-address, so I updated the DNS A record. Livekit still reported that ports 50000-60000 was behind a firewall even though the ports were open - thus no WebRTC connection. The fix for the issue was to restart Livekit for it to acknowledge that the IP-address was changed. Is this restart really needed? S

[2022-11-15 23:47] berrfott commented on #1156
Let me guess: North Korea, Turkmenistan, Iran, Belarus, Turkey, Oman, Pakistan, United Arab Emirates, and Eritrea? (Sorry for hijacking this thread)

[2022-11-16 02:51] cnderrauber commented on #1170
If you enabled the `use_external_ip`, you need restart it, livekit only solve public ip when starting.

I think they are different issues.

[2022-11-16 03:01] cnderrauber commented on #1160
@nerthazrim I have checked the code, unfortunately `pion/ice` did not collect the loopback interface, it makes sense since nobody wants a candidate that only can be accessed from the local machine, but edge cases like yours are not working. Need add an option to enable it.
Are you enabled `udp_port` in v1.2.3 version? it has a incorrect behavior but can work for you if udpmux is enabled(set `udp_p

[2022-11-16 08:14] eIskandarov commented on #1060
Hi @cnderrauber ,

Yes, In another network it actually works just fine. So it seems to be just a local issue.
Thanks :)

[2022-11-17 05:15] evehal commented on #672
Any good news for cpp?

[2022-11-17 06:34] davidzhao commented on #672
We are working on it. It's taking a bit longer than expected. Current ETA is Q1 of next year.

[2022-11-17 09:37] nerthazrim commented on #1160
Yes I did try to enable it but I feel like this option only allows me to specify the Livekit server listening port and not the WebRTC sockets port. Clients can initially connect to Livekit but they can't connect to the WebRTC sockets, whether I use this option or not.

I'll open an issue on the pion/ice project, see if they can do anything about it :)

Thanks!

[2022-11-17 18:21] davidzhao commented on #1160
UDPMux is controlling ICE listening port. When it's not set a random port will be selected.

[2022-11-18 19:06] agoenks29D opened #1175 "loadavg for Windows is not supported"
**Describe the bug**

 When i try using egress in local development, i got error message **egress not connected (redis required)**, so i think server didn't connect to redis automatically and then i try to load my own config file, but i got error too. I didn't have any idea to test

**Server**
- Version: 1.3.1
- Environment: local dev
- config file changed :
 - `use_extrnal_ip` set to `false`

Scr

[2022-11-19 01:32] davidzhao commented on #1175
can you copy and paste the full logs? it's difficult to read a screenshot.

[2022-11-19 11:28] agoenks29D commented on #1175
**Command**
[code]

**Output:**
2022-11-19T18:25:42.300+0700    INFO    livekit service/wire_gen.go:186 using multi-node routing via redis      {"sentinel": false, "addr": "localhost:6379"}
2022-11-19T18:25:42.733+0700    DEBUG   livekit routing/redisrouter.go:377      starting redisWorker    {"nodeID": "ND_LIFp2Z23"}
2022-11-19T18:25:43.356+0700    INFO    livekit service/server.go:212   starting

[2022-11-20 10:00] zifeo opened #1178 "Egress hidden participant sometimes appears in LiveKitRoom component"
**Describe the bug**
We are using the react components and some egresses in the backend. Some times (let’s say 1/3 times), we have the egress showing up in the react LiveKitRoom component with name like EG_xxxxx. This seems to happen often when an ingress (ogg/ivf via livekit-cli) leaves the call.

**Server**
- Version: see below
- Environment: Kubernetes/RKE2

livekit/egress:v1.5.1
livekit/liveki

[2022-11-22 11:34] nerthazrim commented on #1160
@cnderrauber hi again
Thanks for https://github.com/pion/ice/pull/497!

Do you know who I could ping here in this project to see your change integrated in livekit-server ? :)

Thanks!

[2022-11-23 08:01] #1160 closed

[2022-11-25 01:00] khmak3 opened #1189 "Feature Request: RTCP Stat in prometheus support filter by Room ID"
Existing RTCP Metric support overall stats only.  It will be helpful if those stats can be filter by Room ID. It can help narrow down issue for particular Room for investigation.

**Expected behavior**
Beside filtered by in coming and out going. Room ID should be information to keep

[2022-11-25 01:00] khmak3 commented on #1189
https://github.com/livekit/livekit/blob/master/pkg/telemetry/prometheus/packets.go#L121

[2022-11-25 20:17] IAmNatch opened #1192 "CORS Issue with Recommended Caddy Config"
**Describe the bug**
When connecting to LiveKit via the JS SDK, from an iOS browser, an API call named `/rtc/validate` yields a CORS error, stopping the device from connecting.

I'll note that this only happens intermittently. Sometimes it goes through with no problem, other times it throws a cors error. I'd say it works about half the time.

It would seem like this [auth header](https://github.co

[2022-11-26 05:55] rezadevelopers2 opened #1193 "error build code sample"
NotAfter: Sat Nov 26 03:29:59 IRST 2022

![image](https://user-images.githubusercontent.com/78532168/204074517-fe8e2f7e-0de1-4380-a602-1785a4511e8a.png)

[2022-11-26 06:31] davidzhao commented on #1193
wrong repo and insufficient description

[2022-11-26 06:31] #1193 closed